<header>

  <div class="header container align-items-center justify-content-center">
    <div class="header--block size margin container column">
      <div class="header--block--text" data-aos="fade-up" data-aos-delay="" data-aos-offset="0">
        <p>Insights from the Thaum AI team.</p>

        <p>We ran our NLP model on over 150,000 transcripts of Austalian politicians
        and generated visualisations that display sentiment (emotional tone) of public discourse in marginal topics.</p>

        <p>
        We hope that with this information and AI Driven Knowledge Base we can be more mindful of our language and how it is percieved and the affect that has as it co-evolves over time with culture, disasters, protest, and media. Ultimately, we hope this allows us to better understand and communicate with each other. Building empathy, respect, and self-awareness. I truly believe we're going to have a good old age.</p>
      </div>
      <div class="container column position-search">
        <div class="header--block--input" data-aos="fade-up" data-aos-delay="" data-aos-offset="0" id="search-container">
          <div class="header--block--input--icon">
            <!-- <img src="{{ site.baseurl }}/assets/img/icons/search-input.svg" width="30" alt=""> -->
            <span class="feather-icon icon-search"></span>
          </div>
          <input class="input-search" type="text" name="" value="" placeholder="Search for answers..." id="search-input">
        </div>
        <div class="header--block--result">
          <ul id="results-container"></ul>
        </div>
      </div>
    </div>
  </div>


</header>
